{% case icon %}

  {% when 'icon-bg-wave' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1600 1080" style="enable-background:new 0 0 1600 1080;" xml:space="preserve">
      <path fill="{{ fill }}" id="Path_392" class="bg_wave1" d="M0,85.2c34.2,17.7,75.9-2.2,117.1,0c70.5,4,140.6,2.2,211.1-23.9s141-41.5,211.6-41.3  c70.5-0.2,160.5,1.2,231,19.7c77.8,11.3,120.4,32,191,43.2s138,17.1,208.6,20.8c70.5,4,124.9,1.8,195.4-13s161.2-25.8,196.5-44.4  l35.3-18.8L1600,1055l-33.3-13.5c-33.3-13.5-99.9-40.6-166.5-42.8c-66.6-2.4-133.2,20.4-199.8,36c-66.6,15.6-133.2,24.9-199.8,24.8  c-66.6,0.1-133.2-9.2-199.8-20.3c-66.6-11.3-133.2-24.8-199.8-31.6c-66.6-6.8-133.2-6.8-199.8-9c-66.6-2.4-133.2-6.6-199.8,2.2  S68,1032.6,34.6,1043.7L1.3,1055L0,85.2z"/>
    </svg>

  {% when 'icon-blob-1' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 500 400" style="enable-background:new 0 0 500 400;" xml:space="preserve">
      <style type="text/css">
        .icon-blob-1{fill-rule:evenodd;clip-rule:evenodd;fill:#CBF3FF;}
      </style>
      <path id="Path_395" class="icon-blob-1" d="M126.1,365c113.2,34.2,116.9-80.4,225.6-100.6c52.4-9.7,152.6-28.9,75.2-98.5  c-56-50.4-46.4,14.1-107.2-82.6c-51.9-82.4-83.9-70.3-151.9-2.7C98.6,149.4-46.4,312.9,126.1,365L126.1,365z"/>
      </svg>
  {% when 'icon-blob-2' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 500 400" style="enable-background:new 0 0 500 400;" xml:space="preserve">
      <style type="text/css">
        .icon-blob-2{fill-rule:evenodd;clip-rule:evenodd;fill:#BBEDDB;}
      </style>
      <path id="Path_397" class="icon-blob-2" d="M193.6,343.9c-96.4-40.9-15.1-116.7-68.9-190.2C98.8,118.4,49.5,50.4,149.2,48.5  c72.2-1.3,19,34.8,128,6.4c92.9-24.2,104.3,1.4,97.8,82.7C368.3,220.5,340.4,406.3,193.6,343.9L193.6,343.9z"/>
    </svg>

  {% when 'icon-hamburger' %}
    <svg class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 10 12.5" style="enable-background:new 0 0 10 12.5;" xml:space="preserve">
      <style type="text/css">
        .icon-hanburger{fill:#00235B;}
      </style>
      <path id="menu_icon-2" class="icon-hanburger" d="M0.8,10c-0.1,0-0.2-0.1-0.2-0.2V9.1c0-0.1,0.1-0.2,0.2-0.2h8.3c0.1,0,0.2,0.1,0.2,0.2v0.7  c0,0.1-0.1,0.2-0.2,0.2H0.8z M0.8,6.8c-0.1,0-0.2-0.1-0.2-0.2V5.9c0-0.1,0.1-0.2,0.2-0.2h5.1c0.1,0,0.2,0.1,0.2,0.2v0.7  c0,0.1-0.1,0.2-0.2,0.2H0.8z M0.8,3.6c-0.1,0-0.2-0.1-0.2-0.2V2.7c0-0.1,0.1-0.2,0.2-0.2h8.3c0.1,0,0.2,0.1,0.2,0.2v0.7  c0,0.1-0.1,0.2-0.2,0.2H0.8z"/>
    </svg>

  {% when 'icon-cart' %}
    <svg class="icon icon-cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 15 12.5" style="enable-background:new 0 0 15 12.5;" xml:space="preserve">
      <style type="text/css">
        .icon-cart{fill-rule:evenodd;clip-rule:evenodd;fill:#002766;}
      </style>
      <g id="shopping-cart">
        <g>
          <path class="icon-cart" d="M12.1,4.6c0-0.3,0-0.5-0.2-0.8c-0.1-0.2-0.2-0.3-0.5-0.3c-0.3,0-0.6,0-0.9-0.1c-0.3,0-0.5,0-0.8,0    c-0.6,0-1.2,0-1.8,0c-0.8,0-1.7,0-2.5,0c-0.6,0-1.2,0-1.7,0.1c-0.1,0-0.1,0-0.1-0.1C3.5,3.3,3.4,3,3.4,2.8c0-0.3-0.1-0.6-0.2-0.9    C3.1,1.5,3,1.4,2.5,1.5c-0.1,0-0.2,0-0.3,0.1C2.1,1.6,1.9,1.7,1.8,1.8C1.6,1.9,1.4,2,1.3,2C1.1,2,1,2.1,0.9,2.1    C0.7,2.3,0.6,2.6,0.8,2.9c0.2,0.3,0.4,0.3,0.7,0.2C1.6,3,1.6,3,1.7,2.9c0.1-0.1,0.1-0.3,0.1-0.4c0,0,0-0.1,0.1-0.1    c0.2,0,0.3-0.1,0.5-0.2c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0.1C2.8,2.4,2.8,2.7,2.9,3C3,3.6,3.1,4.2,3.2,4.7    C3.4,5.5,3.5,6.2,3.7,7c0.1,0.4,0.2,0.7,0.2,1.1c0,0,0,0.1,0,0.1c-0.1,0-0.2,0-0.3,0.1c0,0-0.1,0-0.1,0C3.3,8.4,3.1,8.5,3,8.6    C2.8,8.8,2.6,9,2.7,9.3c0,0,0,0,0,0.1c0,0.2,0.1,0.3,0.2,0.4C3.1,9.9,3.3,10,3.5,10c0.3,0,0.6,0,0.8,0c0.5,0,0.9-0.1,1.4-0.2    c0.2-0.1,0.5-0.1,0.7-0.1c0.1,0,0.3,0,0.4,0c0.4,0,0.8,0,1.2,0c0.1,0,0.2,0,0.3,0c0.3,0,0.6,0,0.9,0c0.2,0,0.3,0,0.5,0    c0,0,0,0,0,0c0.2,0,0.3,0,0.5,0c0.3,0,0.5,0,0.8,0c0.1,0,0.2-0.1,0.3-0.2c0-0.1-0.1-0.3-0.2-0.3c-0.1,0-0.1,0-0.2-0.1    c-0.1,0-0.1,0-0.2,0c-1.4,0-2.9,0-4.3,0c-0.4,0-0.8,0-1.2,0.1C5,9.3,4.8,9.4,4.5,9.4c-0.3,0-0.6,0-1,0c-0.1,0-0.2,0-0.2-0.1    c-0.1,0-0.1-0.1,0-0.2C3.5,9,3.6,8.8,3.9,8.8c0.1,0,0.2-0.1,0.2-0.1c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.2,0,0.3,0.1    c0.1,0.1,0.2,0.1,0.3,0.1c0.3,0,0.5,0,0.8,0c0.1,0,0.3,0,0.4,0c0.4,0,0.9-0.1,1.3-0.1c0.4,0,0.7,0,1.1,0c0.4,0,0.7,0,1.1-0.1    c0.3,0,0.6,0,1,0c0.2,0,0.4,0,0.7,0c0.1,0,0.2-0.1,0.3-0.2c0-0.2,0-0.3,0.1-0.5c0-0.1,0-0.1,0-0.2c0-0.2,0.1-0.4,0.1-0.6    c0.1-0.2,0.2-0.5,0.2-0.7c0.1-0.3,0.2-0.6,0.2-1c0,0,0,0,0,0C12.1,5,12.1,4.8,12.1,4.6z M6,4c0.2,0,0.5,0,0.7,0c0,0,0,0,0,0    C7,4,7.3,4,7.5,4c0.1,0,0.1,0,0.1,0.1c0,0.4,0.1,0.7,0.1,1.1c0,0.1,0,0.1-0.1,0.1c-0.4,0-0.9,0-1.3,0.1c0,0-0.1,0-0.1,0    c-0.1,0-0.1,0-0.1-0.1C6.1,5,5.9,4.6,5.8,4.2C5.8,4.1,5.8,4,6,4z M4.1,5.7C4,5.5,3.9,5.3,3.9,5C3.8,4.7,3.8,4.4,3.7,4.2    c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1C4.3,4,4.8,4,5.3,4c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.1,0.1c0,0.3,0.1,0.5,0.1,0.8    c0,0.1,0,0.2,0,0.3c0,0.1,0,0.1,0,0.2c0,0,0,0.1-0.1,0.1c-0.2,0-0.3,0.1-0.5,0.1c-0.2,0-0.4,0-0.5,0.1c-0.1,0-0.2,0.1-0.4,0.1    C4.1,5.8,4.1,5.8,4.1,5.7z M7.9,7.9C7.6,8,7.3,8,7,8c-0.4,0.1-0.7,0-1.1,0.1c-0.1,0-0.2,0-0.3,0c-0.3,0-0.6,0-0.8,0.1    c-0.1,0-0.1,0-0.2-0.1C4.5,7.9,4.4,7.6,4.4,7.3c-0.1-0.3-0.1-0.7-0.2-1c0-0.1,0-0.1,0.1-0.1c0.3,0.1,0.7,0,1,0c0.1,0,0.3,0,0.4,0    c0,0,0.1,0,0.1,0.1c0,0.1,0,0.1,0,0.2c0,0.2,0,0.4,0,0.6c0,0.3,0,0.5,0.1,0.8C5.9,7.9,6,8,6.1,8c0.1,0,0.2-0.1,0.3-0.2    c0-0.1,0.1-0.3,0.1-0.4c0,0,0,0,0,0c0-0.2,0-0.5,0-0.7c0-0.1,0-0.2,0-0.2c0-0.1,0-0.2,0-0.3c0,0,0-0.1,0.1-0.1C6.9,6,7.3,6,7.7,6    c0.1,0,0.1,0,0.1,0.1c0,0.3,0,0.6,0.1,0.9c0,0.3,0,0.5,0.1,0.8C8,7.9,7.9,7.9,7.9,7.9z M9.4,6.8c0,0.3,0,0.6-0.1,0.9    c0,0.1,0,0.2-0.2,0.2c-0.3,0-0.5,0.1-0.8,0.1c-0.1,0-0.2,0-0.2-0.1c0-0.5-0.1-1.1-0.1-1.6c0,0,0,0,0-0.1C8.2,6,8.2,6,8.3,6    c0.2,0,0.3,0,0.5,0l0,0C9,6,9.1,6,9.3,6c0.1,0,0.1,0,0.1,0.1C9.4,6.3,9.4,6.6,9.4,6.8z M9.5,5.2c0,0.1,0,0.1-0.1,0.1    c-0.2,0-0.3,0-0.5,0c-0.2,0-0.4,0-0.6,0c-0.1,0-0.1,0-0.1-0.1c0-0.2,0-0.4,0-0.6c0,0,0,0,0,0c0-0.1,0-0.3,0-0.4C8,4,8,4,8.2,4    C8.6,4,9,4,9.4,4c0.1,0,0.1,0,0.1,0.2C9.5,4.5,9.5,4.9,9.5,5.2z M11.4,5.7C11.4,5.7,11.4,5.8,11.4,5.7c-0.2,0.4-0.3,0.7-0.4,1    c-0.1,0.2-0.2,0.4-0.2,0.7c0,0.1,0,0.3-0.1,0.4c0,0.1-0.1,0.1-0.1,0.1c-0.2,0-0.4,0-0.6-0.1c-0.3,0-0.3,0-0.2-0.3    c0-0.1,0-0.2,0-0.3c0-0.3,0-0.7,0.1-1C9.9,6,9.9,6,10.1,6c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1-0.1,0.1-0.1    c0,0,0-0.1-0.1-0.1c-0.2-0.1-0.4-0.1-0.6-0.2c-0.3,0-0.3,0-0.3-0.3c0-0.3,0-0.7,0-1C10,4,10,4,10.1,4c0.4,0.1,0.7,0.1,1.1,0.1    c0.1,0,0.2,0,0.2,0.2c0,0.2,0,0.4,0.1,0.6C11.4,5.2,11.4,5.4,11.4,5.7z M5.6,10.1C5.5,10,5.3,10,5.2,10c-0.3,0-0.5,0.1-0.8,0.2    c-0.3,0.2-0.4,0.5-0.3,0.9c0,0.1,0,0.2,0,0.3c0,0.2,0.1,0.4,0.2,0.5C4.4,11.9,4.6,12,4.7,12c0.2,0,0.3,0,0.4-0.1    C5.6,11.9,6,11.2,6,10.8C6.1,10.6,5.9,10.3,5.6,10.1C5.7,10.1,5.7,10.1,5.6,10.1z M5.2,11.1c-0.1,0.1-0.2,0.1-0.2,0    c-0.1,0-0.2-0.1-0.3-0.1c-0.2-0.1-0.2-0.2,0-0.3c0.2-0.2,0.5-0.3,0.7-0.2c0,0,0.1,0.1,0.1,0.1C5.4,10.9,5.3,11,5.2,11.1z M10.2,10    c-0.2,0-0.5,0-0.7,0.1c-0.2,0-0.3,0.1-0.5,0.2c-0.2,0.1-0.3,0.3-0.3,0.6c0,0,0,0.1,0,0.1c0,0,0,0,0,0c0,0.1,0,0.2,0,0.2    c0,0.1,0,0.1,0,0.2c0.2,0.2,0.4,0.4,0.7,0.4c0.1,0,0.1,0,0.2,0c0.4-0.1,0.8-0.3,1-0.7c0.1-0.2,0.1-0.4,0-0.6    C10.6,10.2,10.5,10.1,10.2,10z M9.9,11.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.3-0.1c-0.1,0-0.1-0.1-0.1-0.1c0-0.1,0-0.1,0.1-0.2    c0.2-0.1,0.4-0.2,0.6-0.2c0,0,0,0,0,0c0.1,0,0.1,0.1,0.1,0.1C10.1,10.9,10,11,9.9,11.1z"/>
        </g>
      </g>
    </svg>

  {% when 'icon-bg-wave-footer' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="visual" x="0px" y="0px" viewBox="0 0 900 200" style="enable-background:new 0 0 900 200;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#002766;}
      </style>
      <path class="st0" d="M0,74l21.5-2C43,70,86,66,128.8,61c42.9-5,85.5-11,128.4-15c42.8-4,85.8-6,128.6-1.3  c42.9,4.6,85.5,16,128.4,22.6C557,74,600,76,642.8,79c42.9,3,85.5,7,128.4-0.8C814,70.3,857,50.7,878.5,40.8L900,31v169h-21.5  c-21.5,0-64.5,0-107.3,0c-42.9,0-85.5,0-128.4,0c-42.8,0-85.8,0-128.6,0c-42.9,0-85.5,0-128.4,0c-42.8,0-85.8,0-128.6,0  c-42.9,0-85.5,0-128.4,0c-42.8,0-85.8,0-107.3,0H0V74z"/>
    </svg>

  {% when 'icon-stars' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 50 10" style="enable-background:new 0 0 50 10;" xml:space="preserve">
      <style type="text/css">
        .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#00235B;}
      </style>
      <g id="Group_10" transform="translate(-521.053 -776.4)">
        <path id="Path_216" class="st0" d="M527.2,777.3l1.3,2.7l3,0.4l-2.2,2.1l0.5,3l-2.7-1.4l-2.7,1.4l0.5-3l-2.2-2.1l3-0.4L527.2,777.3   z"/>
        <path id="Path_217" class="st0" d="M536.6,777.3l1.3,2.7l3,0.4l-2.2,2.1l0.5,3l-2.7-1.4l-2.7,1.4l0.5-3l-2.2-2.1l3-0.4L536.6,777.3   z"/>
        <path id="Path_218" class="st0" d="M546.1,777.3l1.3,2.7l3,0.4l-2.2,2.1l0.5,3l-2.7-1.4l-2.7,1.4l0.5-3l-2.2-2.1l3-0.4L546.1,777.3   z"/>
        <path id="Path_219" class="st0" d="M555.5,777.3l1.3,2.7l3,0.4l-2.2,2.1l0.5,3l-2.7-1.4l-2.7,1.4l0.5-3l-2.2-2.1l3-0.4L555.5,777.3   z"/>
        <path id="Path_220" class="st0" d="M565,777.3l1.3,2.7l3,0.4l-2.2,2.1l0.5,3l-2.7-1.4l-2.7,1.4l0.5-3l-2.2-2.1l3-0.4L565,777.3z"/>
      </g>
    </svg>

{% endcase %}