{% if product.metafields.info.title != blank %}
  <div class="product-meta-info">
    <div class="product-meta-info-headers d-flex">
      {% for title in product.metafields.info.title %}
        <div class="info-title{% if forloop.first %} active{% endif %}" data-index="{{ forloop.index }}">{{ title }}</div>
      {% endfor %}
    </div>
    <div class="product-meta-info-contents">
      {% for title in product.metafields.info.content %}
        {% assign idx = forloop.index0 %}
        <div class="info-content{% if forloop.first %} active{% endif %}" data-index="{{ forloop.index }}">{{ product.metafields.info.content[idx] }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}


<script>


</script>