{% if section.settings.visible %}

  {% render 'section-styles', section: section %}

  <style>
    
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.mtop }}%;
      margin-bottom: {{ section.settings.mbottom }}%;
    }
    @media (max-width: 749px) {
      #shopify-section-{{ section.id }} {
        margin-top: {{ section.settings.mtop_mob }}%;
        margin-bottom: {{ section.settings.mbottom_mob }}%;
      }
    }
  </style>

  <div class="section-container {% if section.settings.is_wave_bg %}bg-wave{% endif %}">

    {% if section.settings.is_wave_bg %}
      <div class="bg-wave" {% if section.settings.max_height != blank %}style="max-height:{{ section.settings.max_height }}"{% endif %}>
        {% render 'icon' with 'icon-bg-wave', fill: section.settings.bg %}
      </div>
    {% else %}
      <style>
        #shopify-section-{{ section.id }} {
          background: {{ section.settings.bg }};
        }
      </style>
    {% endif %}

    <div class="index-section">
      <div class="page-width">
        <div class="main_wrapper">
          {% if section.settings.title != blank %}
            <div class="h1 text-center">{{ section.settings.title }}</div>
          {% endif %}
          {% if section.blocks.size > 0 %}
            <div class="icon-list" data-slider data-mobile="true">
              {% for block in section.blocks %}
                <div class="list-item text-center" style="width: {{ section.settings.item_width }}">
                  <div class="icon-wrapper">{{ block.settings.icon }}</div>
                  <div class="icon-title ff-plant">{{ block.settings.title }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="rte text text-center">{{ section.settings.text }}</div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endif %}

{% schema %}
{
  "name": "Featured icon list",
  "class": "featured-icon-list",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Margin"
    },
    {
      "type": "range",
      "id": "mtop",
      "label": "Top margin desktop",
      "min": -50,
      "unit": "%",
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mbottom",
      "label": "Bottom margin desktop",
      "min": -50,
      "unit": "%",
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mtop_mob",
      "label": "Top margin mobile",
      "min": -50,
      "unit": "%",
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mbottom_mob",
      "label": "Bottom margin mobile",
      "min": -50,
      "unit": "%",
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "checkbox",
      "id": "is_wave_bg",
      "label": "Enable background image",
      "default": true
    },
    {
      "type": "header",
      "content": "Contents"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "text",
      "id": "max_height",
      "label": "Container max height"
    },
    {
      "type": "select",
      "options": [
        {
          "label": "20%",
          "value": "20%"
        },
        {
          "label": "25%",
          "value": "25%"
        },
        {
          "label": "33%",
          "value": "33%"
        }
      ],
      "default": "20%",
      "label": "Item width",
      "id": "item_width"
    }
  ],
  "blocks": [
    {
      "name": "Icon",
      "type": "icon",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured icon list"
    }
  ]
}
{% endschema %}