{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

  {%- liquid
    assign overlap_images = true
    if section.settings.image != blank and section.settings.image2 == blank
      assign overlap_images = false
    endif
  -%}
  
  <div class="index-section">
  
    <div class="page-width feature-row-wrapper">
      {%- capture image_layout -%}
        <div class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images{% endif %}" style="max-width: {{ section.settings.image_width }}px" data-aos>
            {%- if section.settings.image != blank -%}
              <div>
                {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                  {% render 'rimage', image: section.settings.image, wrapper_class: 'hide--mobile' %}
                  {% assign image_mob = section.settings.image_mob | default: section.settings.image %}
                  {% render 'rimage', image: image_mob, wrapper_class: 'hide--desktop' %}
                  {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
              </div>
            {%- endif -%}
            
            {%- if section.settings.image == blank -%}
              <div>
                <div class="image-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
              <div>
                <div class="image-wrap">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {%- endif -%}
        </div>
      {%- endcapture -%}
  
      <div class="feature-row">
        {%- if section.settings.layout == 'left' -%}
          {{ image_layout }}
        {%- endif -%}
  
        <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
          {%- if section.settings.subtitle != blank -%}
            <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            <div class="h1 ff-plant appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title }}</div>
          {%- endif -%}
          {%- if section.settings.text != blank -%}
            <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.text }}</div>
          {%- endif -%}
          {%- if section.settings.button_label != blank -%}
            <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
              <a href="{{ section.settings.button_link }}" class="btn regular{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
                {{ section.settings.button_label }}
              </a>
            </div>
          {%- endif -%}
          {% if section.settings.text_footer != blank %}
            <div class="text_footer d-flex justify-center">
              <label>
                {{ section.settings.text_footer }}
                <span>on Amazon</span>
              </label>
              <span class="star-icon">{% render 'icon' with 'icon-stars' %}</span>
            </div>
          {% endif %}
        </div>
  
        {%- if section.settings.layout == 'right' -%}
          {{ image_layout }}
        {%- endif -%}
      </div>
    </div>
  
  </div>
  
  {%- if section.settings.divider -%}</div>{%- endif -%}
  
  {% schema %}
    {
      "name": "Featured Banner",
      "class": "featured-banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mob",
          "label": "Image(Mobile)"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Image width",
          "default": 700,
          "min": 200,
          "max": 700,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Image with text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
        },
        {
          "type": "richtext",
          "id": "text_footer",
          "label": "Text footer",
          "default": "<p>Your content here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Centered"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "right",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "divider",
          "label": "Show section divider",
          "default": false
        }
      ],
      "presets": [
        {
          "name": "Featured Banner"
        }
      ]
    }
  {% endschema %}
  