{% if section.settings.visible %}

  {% if product.metafields.features.title != blank %}

    {% render 'section-styles', section: section %}

    {% assign bg = section.settings.sectionbg | default: "#FFF" %}

    <style>
      #shopify-section-{{ section.id }} {
          background: {{ bg }};
      }
      #shopify-section-{{ section.id }} [data-freeze-section-container] {
          background: {{ bg }};
      }
    </style>
    <div class="freeze-wrap">
    <div class="section_container" data-freeze-section style="background: {{ bg }}">
      <div data-freeze-section-container>
        <div class="main_content container" data-freeze-content>
          <div class="main_wrapper">

            <div class="d-flex feature-wrapper" data-freeze-block-wrapper>
              {% for block in section.blocks %}
                {% assign idx = forloop.index0 | modulo: 2 %}

                {% if idx == 0 %}
                  {% assign block_idx = forloop.index0 | divided_by: 2 | plus: 1 %}
                  <div class="feature-row d-flex" data-idx="{{ block_idx }}">
                {% endif %}

                  <div class="feature-item {% if idx == 0 %} left{% endif %} {% if idx == 1 %} right{% endif %}" data-freeze-block-item>
                    <div class="feature_title {% if idx == 0 %} ta-left{% endif %} {% if idx == 1 %} ta-right{% endif %} s_font ff-plant">{{ block.settings.title }}</div>
                  </div>

                {% if idx == 1 %}
                  </div>
                {% endif %}

                {% if idx != 1 and forloop.last %}
                  </div>
                {% endif %}

              {% endfor %}
            </div>

          </div>
        </div>

        <div data-freeze-bg="" >
          <div class="image_wrapper">
            <canvas id="imageDraw"></canvas>
          </div>
        </div>

      </div>
    </div>
    </div>

  {% endif %}

{% endif %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.js'></script>

<script>

  gsap.registerPlugin(ScrollTrigger);
  ScrollTrigger.matchMedia({

    // all
    "all": function() {
      console.clear();
      const canvas = document.getElementById("imageDraw");
      const context = canvas.getContext("2d");

      canvas.width = 650;
      canvas.height = 650;

      const frameCount = 83;
      const currentFrame = index => (
        {{ product.metafields.image.link }}
      );
      
      const images = []
      const protein = {
        frame: 0
      };

      for (let i = 0; i < frameCount; i++) {
        const img = new Image();
        img.src = currentFrame(i);
        img.style.backgroundSize = "contain";
        images.push(img);
      }

      gsap.to(protein, {
        frame: frameCount - 1,
        snap: "frame",
        scrollTrigger: {
          trigger: '[data-freeze-section-container]',
          scrub: 0.5,
          //start:"-=150px",
          //end: "+=1400px",
          pinSpacing: false,
          toggleClass: "active",
          pin: true,
          start: "top 110px"
        },
        onUpdate: render
      });

      images[0].onload = render;

      function render() {
        context.clearRect(0, 0, canvas.height, canvas.height);
        context.drawImage(images[protein.frame], 0, 0, 650, 650);
      }

      // Timeline
      var tl = gsap.timeline();

      tl.to( '[data-freeze-block-wrapper]' , {opacity: 1, scale:1, scrollTrigger: {
          trigger: '.shopify-section.image-freeze-rotate',
          //start: 'top top',
          end: '+=700px',
          pin: true,
          toggleClass: "active-text-animation",
          //markers: true,
          scrub: 0.5

      }})
    }
    
  });

  setTimeout(function() {
    ScrollTrigger.refresh();
  }, 1);
</script>

{% schema %}
{
  "name": "Freeze animation",
  "class": "image-freeze-rotate",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Feature"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Freeze section"
    }
  ]
}
{% endschema %}