<style>

#shopify-section-{{ section.id }} {% if internalElement %}{{ internalElement }}{% endif %} {
  padding: {{ section.settings.ptop }}px 0 {{ section.settings.pbottom }}px;
}
@media (max-width: 749px) {
  #shopify-section-{{ section.id }} {% if internalElement %}{{ internalElement }}{% endif %} {
    padding: {{ section.settings.ptop_mob }}px 0 {{ section.settings.pbottom_mob }}px;
  }
}

.shopify-section.image-grid {
  display: none;
}

.d-flex {
  display: flex;
}
.h-100 {
  height: 100%;
}
.shopify-section.image-grid .block-item {
  padding-left: 15px;
  padding-right: 15px;
}
.shopify-section.image-grid .block_wrapper {
  position: relative;
} 

.shopify-section.image-grid .image_wrapper {
  position: relative;
}

.shopify-section.image-grid .image_wrapper img,
.shopify-section.image-grid .image_wrapper svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.shopify-section.image-grid .block_title {
  font-size: 30px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

@media (max-width: 749px) {
  .main_wrapper {
    flex-direction: column;
  }
  .shopify-section.image-grid .block-item {
    width: 100% !important;
  }
  .shopify-section.image-grid .block-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

</style>

<div class="page-width">
  <div class="main_wrapper d-flex">
    {% for block in section.blocks %}
      <div class="block-item" style="width:{{ block.settings.block_width }}%;height: {{ section.settings.block_height }}">
        <div class="block_wrapper h-100">
          <div class="image_wrapper h-100">
            {% if block.settings.image %}
              <img src="{{ block.settings.image | img_url: '600x' }}">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="block_title" style="color:{{ block.settings.text_color }}">{{ block.settings.title }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image Grid",
  "class": "image-grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Block settings"
    },
    {
      "type": "select",
      "id": "block_height",
      "options": [
        {
          "label": "Small",
          "value": "300px"
        },
        {
          "label": "Medium",
          "value": "450px"
        },
        {
          "label": "Large",
          "value": "600px"
        }
      ],
      "id": "block_height",
      "default": "300px",
      "label": "Block height"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Image block",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "range",
          "min": 20,
          "max": 100,
          "default": 33,
          "unit": "%",
          "default": 33,
          "id": "block_width",
          "label": "Block width"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid",
      "blocks": [
        {
          "type": "block",
          "settings": {
            "block_width": 38
          }
        },
        {
          "type": "block",
          "settings": {
            "block_width": 24
          }
        },
        {
          "type": "block",
          "settings": {
            "block_width": 38
          }
        }
      ]
    }
  ]
}
{% endschema %}