{%- style -%}
  .testimonials-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }
}
{%- endstyle -%}

<div
  class="testimonials-section testimonials-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} testimonials-section--with-divider{% endif %} text-{{ section.settings.align_text }}"
  data-section-id="{{ section.id }}"
  data-section-type="testimonials"
  data-aos>
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header">
        <h2 class="h1">{{ section.settings.title | escape }}</h2>
        {% if section.settings.subtitle != blank %}
          <div class="subtitle ff-plant">{{ section.settings.subtitle }}</div>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="text d-flex">{{ section.settings.text }}</div>
        {% endif %}
      </div>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="slideshow-wrapper">
      <div
        class="testimonials-slider"
        id="Testimonials-{{ section.id }}"
        data-dots="true"
        data-count="{{ section.blocks.size }}">
        {%- for block in section.blocks -%}
          <div
            class="testimonials-slide testimonials-slide--{{ block.id }}"
            data-index="{{ forloop.index0 }}"
            data-aos="row-of-{{ section.blocks.size }}"
            {{ block.shopify_attributes }}>
            <blockquote class="testimonials-slider__text">
              {%- if block.settings.icon == 'quote' -%}
                <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg></span>
              {%- elsif block.settings.icon == '5-stars' -%}
                <span class="testimonial-stars">★★★★★</span>
              {%- elsif block.settings.icon == '4-stars' -%}
                <span class="testimonial-stars">★★★★</span>
              {%- elsif block.settings.icon == '3-stars' -%}
                <span class="testimonial-stars">★★★</span>
              {%- elsif block.settings.icon == '2-stars' -%}
                <span class="testimonial-stars">★★</span>
              {%- elsif block.settings.icon == '1-star' -%}
                <span class="testimonial-stars">★</span>
              {%- endif -%}

              {%- if block.settings.testimonial != blank -%}
                <div class="rte-setting text-spacing">{{ block.settings.testimonial }}</div>
              {%- endif -%}

              {%- if block.settings.image != blank -%}
                <div class="testimonail-image{% if section.settings.round_images %} testimonail-image--round{% endif %}">
                  <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt }}">
                    <noscript>
                      <img class="lazyloaded" src="{{ block.settings.image | img_url: '400x' }}" alt="{{ block.settings.image.alt }}">
                    </noscript>
                  </div>
                </div>
              {%- endif -%}

              {%- if block.settings.author != blank -%}
                <cite>{{ block.settings.author | escape }}</cite>
              {%- endif -%}
              {%- if block.settings.author_info != blank -%}
                <div class="testimonials__info">{{ block.settings.author_info | escape }}</div>
              {%- endif -%}
            </blockquote>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section section-testimonial",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text grid"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "round_images",
        "label": "Circular images",
        "info": "Requires square images",
        "default": true
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "5-stars",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "quote",
                "label": "Quote"
              },
              {
                "value": "5-stars",
                "label": "5 stars"
              },
              {
                "value": "4-stars",
                "label": "4 stars"
              },
              {
                "value": "3-stars",
                "label": "3 stars"
              },
              {
                "value": "2-stars",
                "label": "2 stars"
              },
              {
                "value": "1-star",
                "label": "1 star"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "text",
            "id": "author_info",
            "label": "Author info",
            "default": "Los Angeles, CA"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}
